/* You can add global styles to this file, and also import other style files */

.btn-common:hover {
  color: #fff;
  background-color: #ffc000;
}
.btn-common {
  background-color: #ffc000;
}

.navbar li.active a.nav-link {
  color: #ffffff !important;
  background: #ffc000;
  border-radius: 2rem;
}
.navbar li.active a.nav-link:hover {
  color: #ffffff !important;
  background: #ffc000 !important;
  border-radius: 2rem;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #ffffff !important;
}
.services-item[_ngcontent-mft-c20] .icon[_ngcontent-mft-c20] i[_ngcontent-mft-c20] {
  color: #ffc000;
}
.navbar-expand-lg .navbar-nav li a:hover, .navbar-expand-lg .navbar-nav li .active > a, .navbar-expand-lg .navbar-nav li a:focus {
  color: #ffc000 !important;
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
